<% @todos.each do |todo|  %>
	<div id="<%= todo.task.gsub(/\s+/, '') %>">
	<%= form_for :todo, :url => {:action => 'update', :id => todo.id}, method: :patch do |f| %>
	<%= link_to todo.task, edit_todo_path(:id => todo.id) %><br />
	<%= f.hidden_field :status, value: 'done' %>
	<%= f.submit "Done!" %>
	</div>
	<% end %>
<% end %>
<%= link_to "Add", new_todo_path %>
<%= debug(params) if Rails.env.development? %>